In [26]:
import pandas as pd

In [27]:
df=pd.read_csv('weather data.csv')

In [28]:
df

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,80,Rain
1,Tuesday,19,13,14,89,Thunderstorm
2,Wednesday,20,12,8,78,Rain
3,Thursday,20,8,14,55,Sunny
4,Firday,21,7,18,70,Fog
5,Saturday,16,11,11,64,Fog
6,Sunday,21,12,14,61,Rain

In [29]:
print(df.describe())

       Max Temperature  Min Temperature  Windspeed  Humidity
count         7.000000         7.000000   7.000000   7.00000
mean         19.285714        10.428571  12.714286  71.00000
std           1.799471         2.225395   3.302236  11.97219
min          16.000000         7.000000   8.000000  55.00000
25%          18.500000         9.000000  10.500000  62.50000
50%          20.000000        11.000000  14.000000  70.00000
75%          20.500000        12.000000  14.000000  79.00000
max          21.000000        13.000000  18.000000  89.00000

In [47]:
Max_Temp=df["Max Temperature"]
Min_Temp=df["Min Temperature"]
Wind=df["Windspeed"]
Humidity=df["Humidity"]

135

In [53]:
def des(l):
    s=sum(l)
    c=len(l)
    print("Count:",c)
    print("Mean:",s/c)
    print("Min:", min(l))
    print("Max:", max(l),"\n")

In [54]:
print("Max Temperature:")
des(df["Max Temperature"])
print("Min Temperature:")
des(df["Min Temperature"])
print("Windspeed:")
des(df["Windspeed"])
print("Humidity:")
des(df["Humidity"])

Max Temperature:
Count: 7
Mean: 19.285714285714285
Min: 16
Max: 21

Min Temperature:
Count: 7
Mean: 10.428571428571429
Min: 7
Max: 13

Windspeed:
Count: 7
Mean: 12.714285714285714
Min: 8
Max: 18

Humidity:
Count: 7
Mean: 71.0
Min: 55
Max: 89