  # PANDAS

In [1]:
import pandas as pd

In [2]:
#creating a series
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
my_series=pd.Series(days,index=[10,11,12,13,14,15,16])
print(my_series)
type(my_series)

10       monday
11      tuesday
12    wednesday
13     thursday
14       friday
15     saturday
16       sunday
dtype: object

pandas.core.series.Series


dict={'1':'monday','2':'tuesday','3':'wednesday','4':'thursday','5':'friday','6':'saturday','7':'sunday'}
ser=pd.Series(dict)
ser

In [3]:
dict={'1':['monday','a'],'2':['tuesday','b'],'3':'wednesday','4':'thursday','5':'friday','6':'saturday','7':'sunday'}
ser=pd.Series(dict)
ser

1     [monday, a]
2    [tuesday, b]
3       wednesday
4        thursday
5          friday
6        saturday
7          sunday
dtype: object

# Dataframe

dataframe is most commonly used object in pandas.It is a table like datastructure c

In [4]:
#creating a dataframe using a dictionary
max_temp=[18,19,20,20,21,16,21]
min_temp=[10,13,12,8,7,11,21]
event=['rain','thunderstorm','rain','sunny','fog','fog','rain']
windspeed=[10,14,8,14,18,11,14]

weather={'day':days,'max_temperature':max_temp,'min_temperature':min_temp,'windspeed':windspeed,'event':event}
df=pd.DataFrame(weather,index=range(1,8))
df

         day  max_temperature  min_temperature  windspeed         event
1     monday               18               10         10          rain
2    tuesday               19               13         14  thunderstorm
3  wednesday               20               12          8          rain
4   thursday               20                8         14         sunny
5     friday               21                7         18           fog
6   saturday               16               11         11           fog
7     sunday               21               21         14          rain

# Exporting a dataframe to a csv file

In [5]:
df.to_csv('weather data.csv')                             #excel file is created
#we can specify directory by mentioning it inside commas,otherwise it will run in current directory

# Importing from a csv file

In [6]:
new_df=pd.read_csv('weather data.csv')
new_df

,Unnamed: 0,day,max_temperature,min_temperature,windspeed,event
0,1,monday,18,10,10,rain
1,2,tuesday,19,13,14,thunderstorm
2,3,wednesday,20,12,8,rain
3,4,thursday,20,8,14,sunny
4,5,friday,21,7,18,fog
5,6,saturday,16,11,11,fog
6,7,sunday,21,21,14,rain

In [7]:
new_df.shape         #it returns a tuple which we can store in variables

(7, 6)

In [9]:
new_df['humidity']

KeyError: 'humidity'

In [10]:
new_df['windspeed']>11

0    False
1     True
2    False
3     True
4     True
5    False
6     True
Name: windspeed, dtype: bool

In [13]:
new_df[new_df['windspeed']>11]

,Unnamed: 0,day,max_temperature,min_temperature,windspeed,event
1,2,tuesday,19,13,14,thunderstorm
3,4,thursday,20,8,14,sunny
4,5,friday,21,7,18,fog
6,7,sunday,21,21,14,rain

In [14]:
new_df.describe()

       Unnamed: 0  max_temperature  min_temperature  windspeed
count    7.000000         7.000000         7.000000   7.000000
mean     4.000000        19.285714        11.714286  12.714286
std      2.160247         1.799471         4.608481   3.302236
min      1.000000        16.000000         7.000000   8.000000
25%      2.500000        18.500000         9.000000  10.500000
50%      4.000000        20.000000        11.000000  14.000000
75%      5.500000        20.500000        12.500000  14.000000
max      7.000000        21.000000        21.000000  18.000000

In [17]:
new_df.info

<bound method DataFrame.info of    Unnamed: 0        day  max_temperature  min_temperature  windspeed  \
0           1     monday               18               10         10
1           2    tuesday               19               13         14
2           3  wednesday               20               12          8
3           4   thursday               20                8         14
4           5     friday               21                7         18
5           6   saturday               16               11         11
6           7     sunday               21               21         14

          event
0          rain
1  thunderstorm
2          rain
3         sunny
4           fog
5           fog
6          rain  >

In [18]:
new_df.corr()

                 Unnamed: 0  max_temperature  min_temperature  windspeed
Unnamed: 0         1.000000         0.171499         0.401790   0.373815
max_temperature    0.171499         1.000000         0.192364   0.492837
min_temperature    0.401790         0.192364         1.000000  -0.126727
windspeed          0.373815         0.492837        -0.126727   1.000000

In [19]:
new_df['windspeed'].to_numpy

<bound method IndexOpsMixin.to_numpy of 0    10
1    14
2     8
3    14
4    18
5    11
6    14
Name: windspeed, dtype: int64>